@import url(./common.css);

#content {
    /* border: solid; */
    width: 90%;
    padding: 1.5em 0;
}

#exam {
    /* border: solid; */
    padding: 0 0.5em;
    position: relative;
}

#content #timer {
    font-family: "Orbitron", sans-serif;
    position: relative;
}

#quiz-section {
    /* border: solid; */
    /* width: 70%; */
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    /* padding: 0 1em; */
}

#question {
    /* border: solid; */
    font-size: 1.2rem;
    font-weight: 700;
    height: 50px;
}

#answers {
    /* border: solid green; */
    display: grid;
    row-gap: 1.2em;
}

#answers > * {
    border: solid 1px;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
    padding: 0.5em 0.3em;
    cursor: pointer;
}

#answers label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.8em;
}

#answers input {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

#answers input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #1899d6;
    background-color: CanvasText;
}

#answers input:checked::before {
    transform: scale(1);
}

#answers input:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

#answers label:focus-within {
    color: #1899d6;
}

.btn-container {
    /* border: solid; */
    display: flex;
    justify-content: space-around;
}

#content button,
#question-number {

    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0.5em 0.8em;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#content button.mark,
#content button.next,
#content button.previous {
    background-color: #eceeef00;
    color: #000000de;
    border: 1px solid #1cb0f6;
}

#content button.mark:after,
#content button.next:after,
#content button.previous:after {
    background-color: #fafdff00;
}



#content button.next:disabled,
#content button.previous:disabled {
    border-color: transparent;
}

#content button:after,
#question-number:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#content button:main,
#content button:focus {
    user-select: auto;
}

#content button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#content button:active:not(:disabled) {
    border-width: 4px 0 0;
    background: none;
}

#content button:disabled {
    cursor: not-allowed;
    background-color: rgba(169, 169, 169, 0.653);
    color: #000;
}

#content button:disabled::after {
    background-color: rgba(211, 211, 211, 0.749);
}

#content button:hover:not(:disabled) {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
        rgba(50, 151, 211, 0.3) 0 0 0 4px;
}




#question-number {
    cursor: default;
    width: 30px;
    color: black;
    font-size: 14px;
    background-color: hsla(0, 100%, 99%, 0);
}

#question-number::after {
    background-color: rgba(245, 237, 237, 0);
}

.markside {
    text-align: start;
    border: inset 2px;
    border-radius: 4px;
    background-color: #f3f3f3;
    margin: 1em 0.5em;
    padding: 0.5em;
    display: none;
    height: 145px;
    overflow: auto;
}

.markside div {
    /* border: solid red; */

    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1.4em;
}

.markside div:not(div:last-child) {
    border-bottom: solid 1px #999;
}

.markside div p {
    border: inset 3px;
    border-radius: 4px;
    padding: 0.3em 0.5em;
    cursor: pointer;
    font-weight: 500;
}

.markside div p:hover {
    border-color: #1899d6;
}

#content .markside div button {
    font-size: 1.1rem;
    background-color: hsl(0, 50%, 50%);
    cursor: pointer;
    width: 60%;
    align-self: center;
    font-size: 1.2rem;
}

#content .markside button:after {
    background-color: red;
}

@media (min-width: 450px) {

    #exam button,
    #question-number {
        width: 17%;
    }

}


@media (min-width: 576px) {
    #content {
        width: 85%;
    }

    #exam button,
    #question-number {
        width: 17%;
    }
    #content .markside div button {
        width: 50%;
    }

    /* #question-number {
        width: 50px;
    } */
}

@media (min-width: 768px) {
    #content {
        /* width: 90%; */
    }

    #exam button,
    #question-number {
        font-size: 0.9rem;
    }

    #content .markside div button {
        /* width: 40%; */
    }

    /* #question-number {
        width: 50px;
    } */
}

@media (min-width: 992px) {
    #content {
        /* width: 80%; */
    }

    #exam-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 0 0.5em;
    }

    #exam {
        width: 60%;
    }

    .markside {
        margin: 0;
        height: 385px;
        width: 35%;
    }

    .markside div {
        padding: 1.4em 0.9em;
    }

    #exam button,
    #question-number {
        width: 20%;
        font-size: 1rem;
    }

    #content .markside div button {
        width: 80%;
    }


    #question-number {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    #content {
        /* width: 45%; */
    }
}

@media (min-width: 1400px) {
    #content {
        /* width: 40%; */
    }
}
@media (min-width: 1600px) {
    #content {
        /* width: 30%; */
    }
}
