

@import url(./common.css);

.form-container {
    position: relative;
}

#content form {
    margin: 0 20px;
    position: relative;
}

#content form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content form .input-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    padding: 15px 10px 15px 10px;
    width: 90%;
    margin: 0 auto 10px;
    display: flex;
    column-gap: 0.5em;
    align-items: baseline;
    cursor: text;
}

.input-container i {
    font-size: 1.5rem;
    color: #bbb;
    width: 8%;
}

.input-container input {
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    flex: 1;
}

.error {
    -webkit-box-shadow: 0 0 2px red inset !important;
    -moz-box-shadow: 0 0 2px red inset !important;
    -ms-box-shadow: 0 0 2px red inset !important;
    -o-box-shadow: 0 0 2px red inset !important;
    box-shadow: 0 0 2px red inset !important;
    border-color: red !important;
}

.onFocus {
    -webkit-box-shadow: 0 0 2px #0d6efd inset !important;
    -moz-box-shadow: 0 0 2px #0d6efd inset !important;
    -ms-box-shadow: 0 0 2px #0d6efd inset !important;
    -o-box-shadow: 0 0 2px #0d6efd inset !important;
    box-shadow: 0 0 2px #0d6efd inset !important;
    background-color: #fff !important;
    border: 1px solid #0d6efd !important;
    outline: none !important;
}

#content form input[type="submit"] {
    background: rgb(254, 231, 154);
    background: -moz-linear-gradient(
        top,
        rgba(254, 231, 154, 1) 0%,
        rgba(254, 193, 81, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(254, 231, 154, 1) 0%,
        rgba(254, 193, 81, 1) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(254, 231, 154, 1) 0%,
        rgba(254, 193, 81, 1) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(254, 231, 154, 1) 0%,
        rgba(254, 193, 81, 1) 100%
    );
    background: linear-gradient(
        top,
        rgba(254, 231, 154, 1) 0%,
        rgba(254, 193, 81, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #d69e31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}

#content form input[type="submit"]:hover {
    background: rgb(254, 193, 81);
    background: -moz-linear-gradient(
        top,
        rgba(254, 193, 81, 1) 0%,
        rgba(254, 231, 154, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(254, 193, 81, 1) 0%,
        rgba(254, 231, 154, 1) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(254, 193, 81, 1) 0%,
        rgba(254, 231, 154, 1) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(254, 193, 81, 1) 0%,
        rgba(254, 231, 154, 1) 100%
    );
    background: linear-gradient(
        top,
        rgba(254, 193, 81, 1) 0%,
        rgba(254, 231, 154, 1) 100%
    );

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}

#content form div a#Register {
    font-size: 14px;
    text-decoration: none;
    border: 2px solid;
    border: 1px solid #d69e31;
    padding: 5px;
    border-radius: 72px;
    color: #622222e6;
}

#content form div a.have-account {
    font-size: 13px;
    text-decoration: none;
    border: 2px solid;
    border: 0.5px solid #d69e31;
    padding: 5px;
    border-radius: 72px;
    color: #622222e6;
}

#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}

#errorContainer {
    border-radius: 5px;
    display: inline-block;
    position: relative;
    bottom: 0.5em;
    font-size: 1rem;
    color: rgb(255, 0, 0);
    text-transform: lowercase;
    font-weight: bold;
}

#spinner {
    display: none;
    color: #bbb;
}


#result-section,
#time-out {
    /* border: solid; */
    position: relative;
    font-size: 1rem;
}

#time-out i {
    font-size: 1.5rem;
    position: relative;
    top: 3px;
}

#result-section h3,
#time-out h3 {
    margin: 9em 1em;
}

#content {
    width: 90%;
    padding: 1.5em 0;
}



@media (min-width: 576px) {
    #content {
        width: 70%;
    }
}

@media (min-width: 768px) {
    #content {
        width: 55%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #content {
        width: 45%;
    }
}

@media (min-width: 1400px) {
    #content {
        width: 40%;
    }
}
@media (min-width: 1600px) {
    #content {
        width: 30%;
    }
}
